streamlit
python-dotenv
langchain
faiss-cpu
sentence-transformers
torch
beautifulsoup4
lxml
requests
aiohttp

# Gemini / Google Generative AI
langchain-google-genai
langchain-huggingface

# Crawl4ai si utilisé
crawl4ai

# Compatibilité Transformers
